body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fail, .pass {
  padding: 1em;
}

.fail > h2 {
  margin-top: 0.25em;
}

.pass > h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.fail div {
  padding-left: 1em;
  font-weight: normal;
  font-family: Consolas, monaco, monospace;
  overflow-wrap: break-word;
}

.pass {
  background-color: green;
}

.fail {
  background-color: red;
}
