body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  div {
    font-weight: bold;
    padding: 0.5em;
  }
  
  div>div {
    font-weight: normal;
    font-family: Consolas, monaco, monospace;
    overflow-wrap: break-word;
  }
  
  .pass {
    background-color: green;
  }
  
  .fail {
    background-color: red;
  }
  